section.slide.slide-prism 
	div.col-50
		pre.line-numbers
			code.language-javascript.
				'use strict' 
				
				function sayMyName(x, y) {
					console.log( this );
				}
				
				var petya = {
					name: 'Petya',
					sayMyName: sayMyName
				}
				
				// petya.sayMyName();
				
				function createWrapper() {
					// #LE_createWrapper_0 = { tempPetya: #1 }
					var tempPetya = petya; // #f1
					
					// это функция #f2	
					// и scope у нее теперь не window
					// как было раньше, 
					// а #LE_createWrapper_0
					return function() { 
					// [[scope]]: #LE_createWrapper_0
						tempPetya.sayMyName();
					}
				}
				
				var f = createWrapper();
				
				setTimeout( f, 2000 );
				
				// и теперь спокойно можно
				// делать с petya все, что угодно
				petya = null;
				
	div.col-50
		pre.line-numbers
			code.language-javascript.
				window {
					sayMyName: #f1
					petya: #1
					f: #f2
				}
				
				#f1 {
					[[code]]: {
								console.log(this)
							  }
				}
				
				#1 {
					name: 'Petya'
					sayMyName: #f1
				}
				
				#createWrapper {
					[[scope]]: window
					[[code]]: ...
				}
				
				#LE_createWrapper_0 {
				
				}
				
				#f2 {
					[[scope]]: #LE_createWrapper_0
					[[code]]: ...
				}
				
				
				


