section.slide.slide-prism 
	div.col-50
		pre.line-numbers
			code.language-javascript.
				'use strict' 
				
				function sayMyName(x, y) {
					console.log( this );
				}
				
				var petya = {
					name: 'Petya',
					sayMyName: sayMyName
				}
				
				// petya.sayMyName();
				
				// ...и видим в консоли, 
				// что в качесте this вывелся объект window.
				// Это особенность работы setTimeout()
				setTimeout( sayMyName, 2000 );
				
				
				
				
				
				
				
	div.col-50
		pre.line-numbers
			code.language-javascript.
				window {
					sayMyName: #f1
					petya: #1
				}
				
				#f1 {
					[[code]]: {
								console.log(this)
							  }
				}
				
				#1 {
					name: 'Petya'
					sayMyName: #f1
				}
				
				
				
				
				
				
				
				


