section.slide.slide-prism 
	div.col-50
		pre.line-numbers
			code.language-javascript.
				'use strict' 
				
				function sayMyName(x, y) {
					console.log( this );
				}
				
				var petya = {
					name: 'Petya',
					sayMyName: sayMyName
				}
				
				// petya.sayMyName();
				
				// Но нам же нужно, чтоб в качестве this
				// отобразился petya!
				// Поэтому пробуем так и смотрим результат
				// (без скобок!!! - т.к. это ссылка на функцию)
				setTimeout( petya.sayMyName, 2000 );
				
				/* Примерный код setTimeout() 
				function setTimeout( fn, ms ) {
					// ... подождет столько ms
					// и после этого сделает
					f.call( window );
				}
				*/
	div.col-50
		pre.line-numbers
			code.language-javascript.
				window {
					sayMyName: #f1
					petya: #1
				}
				
				#f1 {
					[[code]]: {
								console.log(this)
							  }
				}
				
				#1 {
					name: 'Petya'
					sayMyName: #f1
				}
				
				
				
				
				
				
				
				


