section.slide
	p <b>Вывод по применению приватных методов</b>
	p Если в приватном (локальном) методе используется <code>this</code>, то можно использовать любой способ из выше перечисленных, но необходимо знать их особенности: <br> 1) если задавать контекст через <code>.call()</code> - это значит использовать <code>.call()</code> при каждом вызове приватного метода <br> 2) если задавать контекст через <code>.bind()</code> - можно использовать вызов метода не задумываясь о контексте, но объяевлние функции получается не стандарнтым <br> 3) если сохранять <code>this</code> во вспомогательную переменную <code>self</code>, то уже ее использовать во всех приватных методах, вместо <code>this</code>
