section.slide
	p Кроме выше описанного с единым геттером-сеттером сложнее разбираться в большом коде, т.к. иногда бывает сложно отследить, где именно значения задаются, потому что функция имеет одно имя для 2-х разных действий, аналогично и с публичным свойством или глобальной переменной.
	p Поэтому рекомендую использовать геттер и сеттер как две различные функции.