section.slide.slide-prism 
	pre.line-numbers
		code.language-javascript.
			// Пример публичного и приватного свойства объекта

			'use strict' 
			
			function CoffeeMachine( power ) {
				// Количество воды в кофеварке
				// считается публичным свойством, 
				// т.к. переменная доступна снаружи объекта,
				// см. строку 22
				this.waterAmount = 0; 

				// power - локальная переменная - она считается приватным свойством,
				// т.к. доступа из-вне к ней нет.
				// Вызвать coffeeMachine.power (на строке 20) не получится
				alert( 'Создана кофеварка мощностью: ' + power + ' ватт' );
			}

			// создать кофеварку
			var coffeeMachine = new CoffeeMachine(100);

			// залить воды
			coffeeMachine.waterAmount = 200;

			// Основной вывод:
			// - все локальные переменные - это приватные свойства
			// - все свойства, записанные в this - это публичные