section.slide.slide-prism 
	pre.line-numbers
		code.language-javascript.
			function CoffeeMachine( power ) {
				this.waterAmount = 0;
				var WATER_HEAT_CAPACITY = 4200;

				// Поэтому, самый удобный и часто применяемый способ решения - 
				// это предварительно сохранить ссылку на this во вспомогательной переменной self
				var self = this;	

				// И обращаться уже к ней,
				// т.е. теперь getBoilTime получает self из замыкания.
				function getBoilTime() {
					return self.waterAmount * WATER_HEAT_CAPACITY * 80 / power;
				}

				function onReady() {
					alert( 'Кофе готово!' );
				}
				
				this.run = function() {
					setTimeout( onReady, getBoilTime() );
				};
			}

			var coffeeMachine = new CoffeeMachine(1000);
			coffeeMachine.waterAmount = 200;
			coffeeMachine.run();