section.slide
	p Один из важнейших принципов ООП – отделение внутреннего интерфейса от внешнего.
	p <mark>Внутренний интерфейс</mark> – это свойства и методы, доступ к которым может быть осуществлен только из других методов объекта, их также называют <mark>«приватными»</mark> (есть и другие термины, встретим их далее).
	p <mark>Внешний интерфейс</mark> – это свойства и методы, доступные снаружи объекта, их называют <mark>«публичными»</mark>.
	p.note Метод - это функция. <br> Свойство - это переменная.