section.slide
	h2 ООП – это не просто объекты.
	p В JavaScript объекты часто используются просто как коллекции. 
	p Например, встроенный объект Math содержит функции (Math.sin, Math.pow, …) и данные (константа Math.PI). 
	p При таком использовании объектов мы не можем сказать, что «применён объектно-ориентированный подход». В частности, никакую «единую сущность» Math из себя не представляет, это просто коллекция независимых функций с общим префиксом Math.
