section.slide
	h2 Классы в JS
	p В JavaScript как таковых классов нет, есть <mark>конструкторы</mark>, но их принято считать синонимами. <br> Конструктор (класс) всегда начинается с большой буквы, например, <code>LectureSlide</code>
	p Организация конструкторов (классов): <br> - функциональный стиль - это то, как организовывали классы в предыдущих лекциях (см. <a href="#6">следующий слайд</a>). <br> - прототипный стиль (будет разобран позже).