section.slide
	h2 ИСПОЛЬЗОВАНИЕ_КОНСТАНТ
	p Так же в классе могут объявляться константы. В ECMAScript 5 они синтаксически не реализованы. Поэтому, как и с обычными константами в js, есть договоренность, что они будут обозначаться прописными буквами через подчеркивание: <code>MY_CONSTANT</code>.
	p Они могут быть как приватными, так и публичными.