section.slide
	h2 Визуальный пример внутреннего и внешнего интерфейса на примере кофеварки 
	p См. <a href="#10">следующий слайд</a>

	p.note Подробное описание см. на сайте <a href="http://learn.javascript.ru/internal-external-interface" target="_blank">learn.javascript.ru</a>







