section.slide
	p Вообще, в языке JavaScript нет четкого указания типа свойства/метода, как, например, в php. Нет объявления <code>public getName()</code> или <code>private someResult</code>.
	p Термины «приватное свойство/метод», «публичное свойство/метод» относятся лишь к общей теории ООП. А их конкретная реализация в языке программирования может быть различной.
	p В JavaScript ООП-принцип «приватное/публичное свойство/метод» реализован через область видимости, контекст вызова и замыкания.