section.slide
	h2 <mark>ООП</mark>
	p  – это наука о том, как делать правильную архитектуру.  
	h2 <mark>Класс</mark> 
	p в объектно-ориентированной разработке - это шаблон/программный код, предназначенный для создания объектов и методов.