section.slide
	div.col-50
		p Внешний
		img(src='http://learn.javascript.ru/article/internal-external-interface/coffee.jpg')
	div.col-50
		P Внутренний
		img(src='http://learn.javascript.ru/article/internal-external-interface/coffee-inside.jpg')
		






